<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <connectionStrings>
      <add connectionString="Data Source=&quot;DANIELAPEREF659\SQLEXPRESS&quot;;Initial Catalog=farmacia;Integrated Security=True"
           providerName="System.Data.SqlClient"
           name="ConStringDaniela"/>
      <add connectionString="Data Source=&quot;DANIELAPEREF659\SQLEXPRESS&quot;;Initial Catalog=farmacia;Integrated Security=True"
           providerName="System.Data.SqlClient"
           name="ConStringCristiana"/>
    </connectionStrings>
</configuration>